<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' fonts.googleapis.com fonts.gstatic.com plausible.io-">
  {%- seo -%}

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">

  {%- feed_meta -%}
  <script defer data-domain="gamma-delta.github.io/bci" src="https://plausible.io/js/plausible.js"></script>
</head>
